.fot{
	padding-top:70px;
	width: 960px;
	margin: 0 auto;
	font-size: 16px;
	overflow: hidden;
	padding-bottom: 5px;
	
}
.fot ul{
	font-size: 18px;
	width:700px;
    list-style: none;
	margin: 0 auto;
	height:35px;
	overflow: hidden;
}
.fot ul li{
	float: left;
	width: 115px;
	text-align: center;
}
.fot ul li a{
	color: #999;
	text-decoration: none;
}
.fot p{
	width: 960px;
	text-align: center;
	color: #999;
	height: 25px;
	line-height: 25px;
}
.fot .cope{
	
	width:235px;
	
	margin: 0 auto;
	text-align:center;
	color: #999;
	padding-left: 25px;
	background: url(../img/police.6750f.png) no-repeat;
}
.fot .wei{
	
	width: 150px;
	margin: 0 auto;
	display: flex;
	margin-top: 20px;
	justify-content: space-around;
	
}
.fot .wei a{
	display: block;
	height: 36px;
	flex: 1;
}
.fot .wei a:nth-child(1){
       background: url(../img/weibo.154c8.png) no-repeat;
}
.fot .wei a:nth-child(2){
	background: url(../img/weixin.d43e0.png) no-repeat;
	position: relative;
}
.fot .wei a:nth-child(2) .nthimg{
	display: none;
	position: absolute;
	left:-60px;
	top: -164px;
	z-index: 15;
}
.fot .wei a:nth-child(2):hover .nthimg{
	display: block;
	animation: nthim .5s linear;
}
@keyframes nthim{
	from{transform: translateY(-50px);}
	to{transform: translateY(0px);}
}